[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matrix-client = "*"
matrix-bot-api = {editable = true, path = "./python-matrix-bot-api"}

[dev-packages]

[requires]
python_version = "3.6"
