[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matrix-client = "*"
spyder-kernels = "<=1.0"
spyder = "*"
pytz = "*"
icalendar = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.6"
